<% layout('./layouts/boilerplate.ejs') %>
<div class="row mt-2">
  <h1 class="text-center">Izmeni oglas</h1>
  <div class="col-6 offset-3">

    <form action="/ljubimci/<%=editPet._id%>?_method=PUT" method="POST" class="needs-validation" novalidate>

      <!-- Category -->
      <div class="mb-3">
        <label class="form-label" for="category">Vrsta ljubimca</label>
        <select id="category" class="form-select" name="category" required>
          <option value="" selected disabled>Izaberi</option>
          <option value="Pas">Pas</option>
          <option value="Mačka">Mačka</option>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas izaberite kategoriju ljubimca.</div>
      </div>

      <!-- Name of pet -->
      <div class="mb-3">
        <label class="form-label" for="name">Ime ljubimca</label>
        <input class="form-control" type="text" id="name" name="name" required value="<%= editPet.name %>">
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas unesite ime ljubimca.</div>
      </div>

      <!-- Contact -->
      <div class="mb-3">
        <label class="form-label" for="contact">Kontakt telefon</label>
        <input class="form-control" type="text" id="contact" name="contact" required value="<%= editPet.contact %>">
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas unesite kontakt.</div>
      </div>

      <!-- Age, JavaScript public folder/petSelect (ageOptionChoose.js)-->
      <div class="mb-3">
        <label class="form-label" for="ageGroup">Starost (prvo izaberite vrstu ljubimca)</label>
        <select id="ageGroup" class="form-select" name="ageGroup" required>
          <option value="" selected disabled>Izaberi starost</option>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas izaberite starost ljubimca.</div>
      </div>

      <!-- Gender -->
      <div class="mb-3">
        <label class="form-label" for="gender">Pol</label>
        <select id="gender" class="form-select" name="gender" required>
          <option value="" selected disabled>Izaberi pol ljubimca</option>
          <option value="Mužjak">Mužjak</option>
          <option value="Ženka">Ženka</option>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas izaberite pol ljubimca.</div>
      </div>

      <!-- Breed JavaScript public folder/petSelect (breedOptionChoose.js)-->

      <div class="mb-3">
        <label class="form-label" for="breed">Rasa (prvo izaberite vrstu ljubimca)</label>
        <select id="breed" class="form-select" name="breed" required>
          <option value="" selected disabled>Izaberite rasu</option>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas izaberite starost ljubimca.</div>
      </div>

      <!-- Image URL TEMPORARY, SOON CLOUDINARY WILL BE IMPLEMENTED INSTEAD -->
      <div class="mb-3">
        <label class="form-label" for="image">Postavite fotografiju</label>
        <input class="form-control" type="text" id="image" name="images[]" required>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas unesite minimum 1 sliku.</div>
      </div>


      <!-- location JavaScript public folder/petSelect (slimSelect.js) npm slimSelect-->
      <div class="mb-3">
        <label class="form-label" for="location">Lokacija</label>
        <select id="locationSelect" name="location" required>
          <option value="" selected disabled>Izaberite lokaciju</option>
          <% for(let location of serbiaLocations) { %>
          <option value="<%= location %>"><%= location %></option>
          <% } %>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas izaberite lokaciju.</div>
      </div>

      <!-- Vaccinated -->
      <div class="mb-3">
        <label class="form-label" for="vaccinated">Vakcinisan/a</label>
        <select id="vaccinated" class="form-select" name="vaccinated" required>
          <option value="" selected disabled>Vakcinisan/a ? </option>
          <option value="Da">Da</option>
          <option value="Ne">Ne</option>
          <option value="Ne znam">Ne znam</option>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas ostavite informaciju da li je ljubimac vakcinisan.</div>
      </div>

      <!-- Neutered -->
      <div class="mb-3">
        <label class="form-label" for="neutered">Sterilisan/a</label>
        <select id="neutered" class="form-select" name="neutered" required>
          <option value="" selected disabled>Izaberite opciju </option>
          <option value="Da">Da</option>
          <option value="Ne">Ne</option>
          <option value="Ne znam">Ne znam</option>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas ostavite informaciju da li je ljubimac vakcinisan.</div>
      </div>

      <!-- Chipped -->
      <div class="mb-3">
        <label class="form-label" for="chipped">Čipovan/a</label>
        <select id="chipped" class="form-select" name="chipped" required>
          <option value="" selected disabled>Čipovan/a ? </option>
          <option value="Da">Da</option>
          <option value="Ne">Ne</option>
          <option value="Ne znam">Ne znam</option>
        </select>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas ostavite informaciju da li je ljubimac vakcinisan.</div>
      </div>

      <!-- Description, JavaScript public folder (descriptionCharCount.js)-->
      <div class="mb-3">
        <label class="form-label" for="description">Opis</label>
        <textarea class="form-control" id="description" name="description" required maxlength="300"></textarea>
        <div id="charCount" class="form-text">Preostalo karaktera: 300</div>
        <div class="valid-feedback">Unos je validan!</div>
        <div class="invalid-feedback">Molim Vas unesite opis.</div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Izmeni oglas</button>
      </div>
    </form>
    <div class="d-flex justify-content-center gap-2">
      <a class="btn btn-outline-primary" href="/psi">Vidi sve pse</a>
      <a class="btn btn-outline-primary" href="/mačke">Vidi sve mačke</a>
    </div>
    </form>
  </div>
</div>

<script src="/JavaScript/petSelect/slimselect.js"></script>
<script src="/JavaScript/petSelect/ageOptionChoose.js"></script>
<script src="/JavaScript/petSelect/breedOptionChoose.js"></script>
<script src="/JavaScript/descriptionCharCount.js"></script>