<% layout('./layouts/boilerplate.ejs') %>

<div class="container my-5">
  <div class="row g-4">

    <!-- Left column: carousel + additional container below -->
    <div class="col-md-7 d-flex flex-column">

      <!-- Carousel -->
      <div id="petCarousel" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% showPet.images.forEach((image, index) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <img src="<%= image && image.includes('http') ? image : 'https://images.unsplash.com/photo-1601758177266-bc599de87707?q=80&w=1170&auto=format&fit=crop' %>" class="d-block w-100" style="height: 400px; object-fit: cover;">
          </div>
          <% }) %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#petCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#petCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Additional container below carousela -->
      <div class="extra-container p-3 bg-secondary text-white mt-3 flex-grow-1">
        <p class="word-break"><%= showPet.description || "Nema dodatnog opisa" %></p>
      </div>

    </div>

    <!-- Right column: description and details -->
    <div class="col-md-5 bg-light d-flex flex-column p-4">
      <h2 class="text-center"><%= showPet.name %></h2>
      <ul class="list-group shadow-sm rounded bg-white">
        <li class="list-group-item"><b>Oglas postavio:</b> </li>
        <li class="list-group-item"><b>Kontakt: <%= showPet.contact %></b> </li>
        <li class="list-group-item"><b>Pol:</b> <%= showPet.gender %></li>
        <li class="list-group-item"><b>Rasa:</b> <%= showPet.breed %></li>
        <li class="list-group-item"><b>Lokacija:</b> <%= showPet.location %></li>
        <li class="list-group-item">
          <b>Starost:</b>
          <%= showPet.ageGroup %>
        </li>
        <li class="list-group-item"><b>Vakcinisan/a:</b> <%= showPet.vaccinated  %></li>
        <li class="list-group-item"><b>Sterilisan/a:</b> <%= showPet.neutered ? "Da" : "Ne"%></li>
        <li class="list-group-item"><b>Čipovan/a:</b> <%= showPet.chipped  %></li>
        <li class="list-group-item"><b>Objavljeno:</b> <%= showPet.createdAt.toLocaleDateString("sr-RS") %></li>
      </ul>

    </div>

  </div>
</div>

<% if(currentUser) { %>

<div class="card-body text-center mt-auto pb-4">

  <form class="d-inline" action="/ljubimci/<%=showPet._id%>/udomljeni" method="POST">
    <button class="btn btn-primary">Udomljen</button>
  </form>

  <a href="/ljubimci/<%=showPet._id%>/izmeni" class="btn btn-info mx-2">Izmeni oglas</a>

  <form class="d-inline" action="/ljubimci/<%=showPet._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Obriši oglas</button>
  </form>

</div>
<% }%>


</div>
</div>